<div class="container">
        <h2 style="text-align: center">FAQ</h2>
<section class="faq-section">
        <input type="checkbox" id="q1">
        <label for="q1">Pitanje 1</label>           
        <p>Pitanje o necemu sto je vjerovatno vec pisalo na pocetnoj stranici ali eto </p>
        <p>Nastavak tog odgovora #1</p>   
    </section>
    <section class="faq-section">
        <input type="checkbox" id="q1">
        <label for="q2">Pitanje2</label>           
        <p>Pitanje o necemu sto je vjerovatno vec pisalo na pocetnoj stranici ali eto </p>
        <p>Nastavak tog odgovora #2</p>    
    </section>

    <section class="faq-section">
        <input type="checkbox" id="q1">
        <label for="q3">Pitanje 3</label>           
        <p>Pitanje o necemu sto je vjerovatno vec pisalo na pocetnoj stranici ali eto </p>
        <p>Nastavak tog odgovora #3</p> 
    </section>

    <section class="faq-section">
        <input type="checkbox" id="q1">
        <label for="q4">Pitanje 4</label>           
        <p>Pitanje o necemu sto je vjerovatno vec pisalo na pocetnoj stranici ali eto </p>
        <p>Nastavak tog odgovora #4</p>   
    </section>
</div>