<header>
	<div class="overlay">
<h1>Simply The Best</h1>
<h3>Thanks for Choosing US</h3>
	<br>
	<button>READ MORE</button>
		</div>
</header>

<div class="menu-header">
  <button mat-button [routerLink]="['']">Home</button>
  <button mat-button [routerLink]="['/allproducts']">Products</button>
  <button mat-button [routerLink]="['/cart']">Cart </button>
  <button mat-button [routerLink]="['/faq']">FAQ</button>
  <button mat-button>Blog</button>
  <button mat-button [routerLink]="['/contact']">Contact</button>
</div>
