.fixed-footer{
    top: 100%;
	width: 100%;
	left:0;
    position: fixed;        
    background-image: linear-gradient( 135deg, #052bff69 10%, #8d8d8d6b 100%);
    padding: 10px 0;
	color: #fff;
	margin-top: 5px;
}
.container{
    width: 80%;
    margin: 0 auto; 
}
nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}
