<div class="container">
  <div style="text-align:center">
    <h2>Kontaktirajte nas</h2>
    <p>Ako imate pitanja:</p>
  </div>
  <div class="row">
    <div class="column">
      <img src="https://i.pinimg.com/originals/43/a7/0b/43a70beb2a73e8308d72444ef641ebe4.jpg" style="width:100%">
    </div>
    <div class="column">
      <form action="/action_page.php">
        <label for="ime">Ime</label>
        <input type="text" id="ime" name="firstname" placeholder="Vaše ime">
        <label for="prezime">Prezime</label>
        <input type="text" id="prezime" name="lastname" placeholder="Vaše prezime">
        <label for="država">Država</label>
        <select id="država" name="country">
          <option value="bosna i hercegovina">Bosna i Hercegovina</option>
          <option value="hrvatska">Hrvatska</option>
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
          <option value="deutschland">Deutschland</option>
        </select>
        <label for="subject">Tema</label>
        <textarea id="subject" name="subject" placeholder="Vaš unos" style="height:170px"></textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>