
<table border="0" style="margin: 0 auto; background-color: #f2f2f2; ">
        <h3 >Cart Info( {{numb}} )</h3>
    <tr style="padding: 1em;
    background: #ddd;
    border-bottom: 2px solid white;">
        
        <th align="center">Id</th>
        <th>Naziv</th>
        <th>Slika</th>
        <th>Cijena</th>
        <th>Količina</th>
        <th>Total</th>
        <th colspan="2">Obrisat</th>
        <th></th>
    </tr>
    <tr *ngFor="let item of items" style="padding: 1em;
    background: #ddd;
    border-bottom: 2px solid white;">
        
        <td align="center">{{item.product.id}}</td>
        <td align="center">{{item.product.name}}</td>
        <td>
            <img src="{{item.product.image}}" width="50" height="67">
        </td>
        <td align="center">{{item.product.price}}</td>
        <td align="center">{{item.quantity}}</td>
        <td align="center">{{item.product.price * item.quantity}}</td>
        <td align="center">
               <a><img src="https://image.flaticon.com/icons/svg/65/65307.svg" alt="" width="35px"  (click)="remove(item.product.id)"></a>
            </td>
        
    </tr>
    <tr>
        <td colspan="5" align="left">Total</td>
        <td align="center">{{total}}</td>
        <td align="center">
                <a><img src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-coloricon-1/21/52-512.png" alt="" width="35px" (click)="removeAll()"></a>
    </td>
    </tr>
</table>



