  
    <div *ngFor="let product of products" >      
        <div style="
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            float: left;
            width: 30%;
            text-align: center;
            margin-right: 30px;
            margin-bottom: 30px;
            font-family: arial;
            border: 1 black;
            border-radius: 10px;" >
                <img src="{{product.image}}" alt="Denim Jeans" style="width:300px; height:400px">
                <h1>{{product.name}}</h1>
                <p class="price" style="color: grey;font-size: 22px;">${{product.price}}</p>
                    <p>Opis mobitela</p>
                    <p><button [routerLink]="['/cart', { id:product.id }]" style="border: none;
                        outline: 0;
                        padding: 12px;
                        color: white;
                        background-color: #000;
                        text-align: center;
                        cursor: pointer;
                        width: 80%;
                        border-radius: 10px;
                        font-size: 18px;">Add to Cart</button></p>
                 </div>
        </div>
   
    