@import '@angular/material/prebuilt-themes/purple-green.css';
:root {
    --off-white:#fffff2;
}
body{
    background-color: var(--off-white)
}

.basic-container {
    padding: 30px;
}
.mat-figure:hover{
    background: rgba(0, 0, 0, 0.1);

}
.mat-button{
    background-color: rgba(232, 235, 238, 0.5);
    border-radius: 25px;
    margin: 10px;
}
.mat-button:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.mat-app-background{
    background-color: var(--off-white)
}
